<div style="margin-top:1in; margin-left:4in; font-family:'Lato', Arial, sans-serif;">
  <h1>Sustainable Lifestyle Topics</h1>

  <p>
    <strong>REPUBLIC OF GREEN</strong> is the new hub for creating a cleaner, greener, more sustainable life and planet.<br>
    Our mission is to help you go green and have fun doing it!
  </p>

  <p><strong>Explore these 8 Paths for Creating a Greener Life</strong></p>
  <ul>
    <li><a href="/holistic-health">Holistic Health &amp; Healthy Diet</a></li>
    <li><a href="/clean-beauty-personal-care">Clean Beauty &amp; Personal Care</a></li>
    <li><a href="https://community.republicofgreen.com/sustainable-fashion">Sustainable Fashion</a></li>
    <li><a href="/green-home">Green Home &amp; Garden</a></li>
    <li><a href="/electric-vehicles">Electric Vehicles &amp; Transportation</a></li>
    <li><a href="/sustainable-business">Sustainable Business</a></li>
    <li><a href="/healthy-pets">Healthy Pets</a></li>
    <li><a href="/fun-activities">Fun Eco-Friendly Activities</a></li>
  </ul>
</div>
